.dark {
  --md-sys-color-primary: rgb(255 182 142);
  --md-sys-color-surface-tint: rgb(255 182 142);
  --md-sys-color-on-primary: rgb(83 34 0);
  --md-sys-color-primary-container: rgb(241 115 24);
  --md-sys-color-on-primary-container: rgb(10 2 0);
  --md-sys-color-secondary: rgb(200 198 196);
  --md-sys-color-on-secondary: rgb(48 48 47);
  --md-sys-color-secondary-container: rgb(37 37 36);
  --md-sys-color-on-secondary-container: rgb(178 176 174);
  --md-sys-color-tertiary: rgb(255 179 174);
  --md-sys-color-on-tertiary: rgb(103 4 12);
  --md-sys-color-tertiary-container: rgb(107 7 15);
  --md-sys-color-on-tertiary-container: rgb(255 172 166);
  --md-sys-color-error: rgb(173 202 224);
  --md-sys-color-on-error: rgb(22 51 68);
  --md-sys-color-error-container: rgb(37 65 83);
  --md-sys-color-on-error-container: rgb(185 214 236);
  --md-sys-color-background: rgb(28 17 11);
  --md-sys-color-on-background: rgb(245 222 211);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(229 226 225);
  --md-sys-color-surface-variant: rgb(69 71 74);
  --md-sys-color-on-surface-variant: rgb(198 198 202);
  --md-sys-color-outline: rgb(144 144 149);
  --md-sys-color-outline-variant: rgb(69 71 74);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(49 48 48);
  --md-sys-color-inverse-primary: rgb(155 69 0);
  --md-sys-color-primary-fixed: rgb(255 219 202);
  --md-sys-color-on-primary-fixed: rgb(51 18 0);
  --md-sys-color-primary-fixed-dim: rgb(255 182 142);
  --md-sys-color-on-primary-fixed-variant: rgb(118 51 0);
  --md-sys-color-secondary-fixed: rgb(228 226 224);
  --md-sys-color-on-secondary-fixed: rgb(27 28 27);
  --md-sys-color-secondary-fixed-dim: rgb(200 198 196);
  --md-sys-color-on-secondary-fixed-variant: rgb(71 71 70);
  --md-sys-color-tertiary-fixed: rgb(255 218 215);
  --md-sys-color-on-tertiary-fixed: rgb(65 0 4);
  --md-sys-color-tertiary-fixed-dim: rgb(255 179 174);
  --md-sys-color-on-tertiary-fixed-variant: rgb(135 31 32);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(58 57 57);
  --md-sys-color-surface-container-lowest: rgb(14 14 14);
  --md-sys-color-surface-container-low: rgb(28 27 27);
  --md-sys-color-surface-container: rgb(32 31 31);
  --md-sys-color-surface-container-high: rgb(42 42 42);
  --md-sys-color-surface-container-highest: rgb(53 52 52);
  --md-extended-color-accent-color-dynamic-design-blue-color: rgb(167 200 253);
  --md-extended-color-accent-color-dynamic-design-blue-on-color: rgb(4 49 93);
  --md-extended-color-accent-color-dynamic-design-blue-color-container: rgb(79 112 160);
  --md-extended-color-accent-color-dynamic-design-blue-on-color-container: rgb(255 255 255);
  --md-extended-color-accent-color-savvy-sage-green-color: rgb(194 204 139);
  --md-extended-color-accent-color-savvy-sage-green-on-color: rgb(44 52 2);
  --md-extended-color-accent-color-savvy-sage-green-color-container: rgb(112 121 65);
  --md-extended-color-accent-color-savvy-sage-green-on-color-container: rgb(255 255 255);
}

.dark-high-contrast {
  --md-sys-color-primary: rgb(255 250 248);
  --md-sys-color-surface-tint: rgb(255 182 142);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(255 188 152);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(253 250 248);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(204 202 200);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 249 249);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(255 185 180);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(248 251 255);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(177 207 228);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(28 17 11);
  --md-sys-color-on-background: rgb(245 222 211);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(69 71 74);
  --md-sys-color-on-surface-variant: rgb(251 250 255);
  --md-sys-color-outline: rgb(202 202 207);
  --md-sys-color-outline-variant: rgb(202 202 207);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(73 29 0);
  --md-sys-color-primary-fixed: rgb(255 225 210);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 188 152);
  --md-sys-color-on-primary-fixed-variant: rgb(43 14 0);
  --md-sys-color-secondary-fixed: rgb(233 230 228);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(204 202 200);
  --md-sys-color-on-secondary-fixed-variant: rgb(22 22 21);
  --md-sys-color-tertiary-fixed: rgb(255 224 221);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 185 180);
  --md-sys-color-on-tertiary-fixed-variant: rgb(55 0 3);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(58 57 57);
  --md-sys-color-surface-container-lowest: rgb(14 14 14);
  --md-sys-color-surface-container-low: rgb(28 27 27);
  --md-sys-color-surface-container: rgb(32 31 31);
  --md-sys-color-surface-container-high: rgb(42 42 42);
  --md-sys-color-surface-container-highest: rgb(53 52 52);
  --md-extended-color-accent-color-dynamic-design-blue-color: rgb(251 250 255);
  --md-extended-color-accent-color-dynamic-design-blue-on-color: rgb(0 0 0);
  --md-extended-color-accent-color-dynamic-design-blue-color-container: rgb(173 204 255);
  --md-extended-color-accent-color-dynamic-design-blue-on-color-container: rgb(0 0 0);
  --md-extended-color-accent-color-savvy-sage-green-color: rgb(249 255 207);
  --md-extended-color-accent-color-savvy-sage-green-on-color: rgb(0 0 0);
  --md-extended-color-accent-color-savvy-sage-green-color-container: rgb(198 209 143);
  --md-extended-color-accent-color-savvy-sage-green-on-color-container: rgb(0 0 0);
}

.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 188 152);
  --md-sys-color-surface-tint: rgb(255 182 142);
  --md-sys-color-on-primary: rgb(43 14 0);
  --md-sys-color-primary-container: rgb(241 115 24);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(204 202 200);
  --md-sys-color-on-secondary: rgb(22 22 21);
  --md-sys-color-secondary-container: rgb(146 144 143);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 185 180);
  --md-sys-color-on-tertiary: rgb(55 0 3);
  --md-sys-color-tertiary-container: rgb(234 103 98);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(177 207 228);
  --md-sys-color-on-error: rgb(0 24 38);
  --md-sys-color-error-container: rgb(120 148 169);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(28 17 11);
  --md-sys-color-on-background: rgb(245 222 211);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(254 250 249);
  --md-sys-color-surface-variant: rgb(69 71 74);
  --md-sys-color-on-surface-variant: rgb(202 202 207);
  --md-sys-color-outline: rgb(162 163 167);
  --md-sys-color-outline-variant: rgb(130 131 135);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(42 42 42);
  --md-sys-color-inverse-primary: rgb(120 52 0);
  --md-sys-color-primary-fixed: rgb(255 219 202);
  --md-sys-color-on-primary-fixed: rgb(35 10 0);
  --md-sys-color-primary-fixed-dim: rgb(255 182 142);
  --md-sys-color-on-primary-fixed-variant: rgb(92 38 0);
  --md-sys-color-secondary-fixed: rgb(228 226 224);
  --md-sys-color-on-secondary-fixed: rgb(17 17 16);
  --md-sys-color-secondary-fixed-dim: rgb(200 198 196);
  --md-sys-color-on-secondary-fixed-variant: rgb(54 54 53);
  --md-sys-color-tertiary-fixed: rgb(255 218 215);
  --md-sys-color-on-tertiary-fixed: rgb(45 0 2);
  --md-sys-color-tertiary-fixed-dim: rgb(255 179 174);
  --md-sys-color-on-tertiary-fixed-variant: rgb(111 11 17);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(58 57 57);
  --md-sys-color-surface-container-lowest: rgb(14 14 14);
  --md-sys-color-surface-container-low: rgb(28 27 27);
  --md-sys-color-surface-container: rgb(32 31 31);
  --md-sys-color-surface-container-high: rgb(42 42 42);
  --md-sys-color-surface-container-highest: rgb(53 52 52);
  --md-extended-color-accent-color-dynamic-design-blue-color: rgb(173 204 255);
  --md-extended-color-accent-color-dynamic-design-blue-on-color: rgb(0 22 49);
  --md-extended-color-accent-color-dynamic-design-blue-color-container: rgb(113 146 196);
  --md-extended-color-accent-color-dynamic-design-blue-on-color-container: rgb(0 0 0);
  --md-extended-color-accent-color-savvy-sage-green-color: rgb(198 209 143);
  --md-extended-color-accent-color-savvy-sage-green-on-color: rgb(20 24 0);
  --md-extended-color-accent-color-savvy-sage-green-color-container: rgb(140 150 90);
  --md-extended-color-accent-color-savvy-sage-green-on-color-container: rgb(0 0 0);
}

.light {
  --md-sys-color-primary: rgb(155 69 0);
  --md-sys-color-surface-tint: rgb(155 69 0);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 138 64);
  --md-sys-color-on-primary-container: rgb(56 20 0);
  --md-sys-color-secondary: rgb(28 28 27);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(60 60 59);
  --md-sys-color-on-secondary-container: rgb(209 207 205);
  --md-sys-color-tertiary: rgb(90 0 8);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(140 34 35);
  --md-sys-color-on-tertiary-container: rgb(255 222 219);
  --md-sys-color-error: rgb(27 56 73);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(63 91 109);
  --md-sys-color-on-error-container: rgb(253 253 255);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(37 25 19);
  --md-sys-color-surface: rgb(252 248 248);
  --md-sys-color-on-surface: rgb(28 27 27);
  --md-sys-color-surface-variant: rgb(226 226 230);
  --md-sys-color-on-surface-variant: rgb(69 71 74);
  --md-sys-color-outline: rgb(118 119 123);
  --md-sys-color-outline-variant: rgb(198 198 202);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 48);
  --md-sys-color-inverse-on-surface: rgb(244 240 239);
  --md-sys-color-inverse-primary: rgb(255 182 142);
  --md-sys-color-primary-fixed: rgb(255 219 202);
  --md-sys-color-on-primary-fixed: rgb(51 18 0);
  --md-sys-color-primary-fixed-dim: rgb(255 182 142);
  --md-sys-color-on-primary-fixed-variant: rgb(118 51 0);
  --md-sys-color-secondary-fixed: rgb(228 226 224);
  --md-sys-color-on-secondary-fixed: rgb(27 28 27);
  --md-sys-color-secondary-fixed-dim: rgb(200 198 196);
  --md-sys-color-on-secondary-fixed-variant: rgb(71 71 70);
  --md-sys-color-tertiary-fixed: rgb(255 218 215);
  --md-sys-color-on-tertiary-fixed: rgb(65 0 4);
  --md-sys-color-tertiary-fixed-dim: rgb(255 179 174);
  --md-sys-color-on-tertiary-fixed-variant: rgb(135 31 32);
  --md-sys-color-surface-dim: rgb(221 217 216);
  --md-sys-color-surface-bright: rgb(252 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 243 242);
  --md-sys-color-surface-container: rgb(241 237 236);
  --md-sys-color-surface-container-high: rgb(235 231 231);
  --md-sys-color-surface-container-highest: rgb(229 226 225);
  --md-extended-color-accent-color-dynamic-design-blue-color: rgb(47 81 127);
  --md-extended-color-accent-color-dynamic-design-blue-on-color: rgb(255 255 255);
  --md-extended-color-accent-color-dynamic-design-blue-color-container: rgb(85 118 166);
  --md-extended-color-accent-color-dynamic-design-blue-on-color-container: rgb(255 255 255);
  --md-extended-color-accent-color-savvy-sage-green-color: rgb(75 84 32);
  --md-extended-color-accent-color-savvy-sage-green-on-color: rgb(255 255 255);
  --md-extended-color-accent-color-savvy-sage-green-color-container: rgb(112 121 65);
  --md-extended-color-accent-color-savvy-sage-green-on-color-container: rgb(255 255 255);
}

.light-high-contrast {
  --md-sys-color-primary: rgb(61 23 0);
  --md-sys-color-surface-tint: rgb(155 69 0);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(112 48 0);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(28 28 27);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(60 60 59);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(77 0 6);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(130 27 28);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(4 37 54);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(42 70 88);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(37 25 19);
  --md-sys-color-surface: rgb(252 248 248);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(226 226 230);
  --md-sys-color-on-surface-variant: rgb(34 36 39);
  --md-sys-color-outline: rgb(65 67 70);
  --md-sys-color-outline-variant: rgb(65 67 70);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 48);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(255 231 220);
  --md-sys-color-primary-fixed: rgb(112 48 0);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(78 31 0);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(67 67 66);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(45 45 44);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(130 27 28);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(97 0 9);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(221 217 216);
  --md-sys-color-surface-bright: rgb(252 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 243 242);
  --md-sys-color-surface-container: rgb(241 237 236);
  --md-sys-color-surface-container-high: rgb(235 231 231);
  --md-sys-color-surface-container-highest: rgb(229 226 225);
  --md-extended-color-accent-color-dynamic-design-blue-color: rgb(0 34 70);
  --md-extended-color-accent-color-dynamic-design-blue-on-color: rgb(255 255 255);
  --md-extended-color-accent-color-dynamic-design-blue-color-container: rgb(31 68 112);
  --md-extended-color-accent-color-dynamic-design-blue-on-color-container: rgb(255 255 255);
  --md-extended-color-accent-color-savvy-sage-green-color: rgb(31 37 0);
  --md-extended-color-accent-color-savvy-sage-green-on-color: rgb(255 255 255);
  --md-extended-color-accent-color-savvy-sage-green-color-container: rgb(62 71 19);
  --md-extended-color-accent-color-savvy-sage-green-on-color-container: rgb(255 255 255);
}

.light-medium-contrast {
  --md-sys-color-primary: rgb(112 48 0);
  --md-sys-color-surface-tint: rgb(155 69 0);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(190 86 0);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(28 28 27);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(60 60 59);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(90 0 8);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(140 34 35);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(27 56 73);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(63 91 109);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(37 25 19);
  --md-sys-color-surface: rgb(252 248 248);
  --md-sys-color-on-surface: rgb(28 27 27);
  --md-sys-color-surface-variant: rgb(226 226 230);
  --md-sys-color-on-surface-variant: rgb(65 67 70);
  --md-sys-color-outline: rgb(94 95 99);
  --md-sys-color-outline-variant: rgb(121 122 126);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 48);
  --md-sys-color-inverse-on-surface: rgb(244 240 239);
  --md-sys-color-inverse-primary: rgb(255 182 142);
  --md-sys-color-primary-fixed: rgb(190 86 0);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(152 67 0);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(117 116 115);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(92 92 91);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(197 76 72);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(164 52 51);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(221 217 216);
  --md-sys-color-surface-bright: rgb(252 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 243 242);
  --md-sys-color-surface-container: rgb(241 237 236);
  --md-sys-color-surface-container-high: rgb(235 231 231);
  --md-sys-color-surface-container-highest: rgb(229 226 225);
  --md-extended-color-accent-color-dynamic-design-blue-color: rgb(31 68 112);
  --md-extended-color-accent-color-dynamic-design-blue-on-color: rgb(255 255 255);
  --md-extended-color-accent-color-dynamic-design-blue-color-container: rgb(85 118 166);
  --md-extended-color-accent-color-dynamic-design-blue-on-color-container: rgb(255 255 255);
  --md-extended-color-accent-color-savvy-sage-green-color: rgb(62 71 19);
  --md-extended-color-accent-color-savvy-sage-green-on-color: rgb(255 255 255);
  --md-extended-color-accent-color-savvy-sage-green-color-container: rgb(112 121 65);
  --md-extended-color-accent-color-savvy-sage-green-on-color-container: rgb(255 255 255);
}